
html {
    //background-image: url("../images/tetris_8.png");
    background-color: rgb(172, 176, 183);
    background-size: cover;
}

input {
    border: 5px solid rgb(0, 0, 0);
    font-size: 40px;
    width: 400px;
    height: 40px;
}

#create {
    cursor: pointer;
    border-style: outset;
    background-color: rgb(221, 221, 221);
    margin: 1em auto;
    height: 50px;
    width: 200px;
    font-size: 40px;
}

#submit {
    cursor: pointer;
    border-style: outset;
    background-color: rgb(221, 221, 221);
    margin: 1em auto;
    height: 50px;
    width: 200px;
    font-size: 40px;
}

#submitclicked {
	cursor: pointer;
	border-style: inset;
	background-color: rgb(165, 165, 165); 
	margin: 1em auto;
    height: 50px;
    width: 200px;
    font-size: 40px;
} 

#error {
    font-size: 50px;
	background-color: rgb(255, 0, 0);
}

.padded {
	padding-left:  15%;
	padding-right: 15%;
	text-align: center;
}

.input {
    font-size: 50px;
	background-color: rgb(215, 220, 225);
}

.grid {
	margin: 1em auto; 
	border-collapse: collapse 
}

.grid td {
    cursor: pointer;
    background-image: url("../images/button.png");
    background-repeat: no-repeat;
    background-color: white;
    width:256px; height: 246px;
    border: 1px solid black;
}

.grid td.clicked {
	background-image: url("../images/button_press.png");
    //background-color: blue;
}